<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Resume Builder{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-gray-50 flex flex-col min-h-screen">
    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-gray-900 text-white mt-20 print:hidden">
            <div class="border-t border-gray-800 my-8 pt-5 text-center text-gray-400">
                <p>&copy; {% now "Y" %} <a href="{% url 'home' %}" class="text-gray-400 hover:text-white">Resume Builder</a>. All rights reserved.</p>
            </div>
        </div>
    </footer>
    {% block extra_scripts %}{% endblock %}
</body>
</html>